body {
    /* background-image: url('/img/office-background.webp'); */
    font-family: Arial, sans-serif;
    background-color: #193748;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #fff;
}

#dealer, #player {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    min-width: 250px;
    max-width: 500px;
    display: inline-block;
    text-align: center;
}

.cards-container {
    position: relative;
    min-width: 250px;
    max-width: 500px;
    height: 160px;
    margin: 10px 0;
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

}

#dealer .cards-container {
   flex-direction: row-reverse; 
}


.card {
    width: 100px; 
    height: 140px; 
    margin: 1%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card:hover {
    transform: rotateY(180deg);
}

.card.turned {
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: url('../img/playing-cards/X.svg') no-repeat center center; 
    transform:rotateY(180deg);
}

.score {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

button {
    background-color: #d33322;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9c0d13;
}

#game-result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #d33322;
}